In [354]:
# ipynb full form is Interactive Python Notebook
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [355]:
Liver_df = pd.read_csv('indian_liver_patient.csv')
print(Liver_df.shape)
Liver_df.head()

(583, 11)

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
0,65,Female,0.7,0.1,187,16,18,6.8,3.3,0.90,1
1,62,Male,10.9,5.5,699,64,100,7.5,3.2,0.74,1
2,62,Male,7.3,4.1,490,60,68,7.0,3.3,0.89,1
3,58,Male,1.0,0.4,182,14,20,6.8,3.4,1.00,1
4,72,Male,3.9,2.0,195,27,59,7.3,2.4,0.40,1

In [356]:
Liver_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 583 entries, 0 to 582
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Age                         583 non-null    int64
 1   Gender                      583 non-null    object
 2   Total_Bilirubin             583 non-null    float64
 3   Direct_Bilirubin            583 non-null    float64
 4   Alkaline_Phosphotase        583 non-null    int64
 5   Alamine_Aminotransferase    583 non-null    int64
 6   Aspartate_Aminotransferase  583 non-null    int64
 7   Total_Protiens              583 non-null    float64
 8   Albumin                     583 non-null    float64
 9   Albumin_and_Globulin_Ratio  579 non-null    float64
 10  Dataset                     583 non-null    int64
dtypes: float64(5), int64(5), object(1)
memory usage: 50.2+ KB

In [357]:
Liver_df.describe()

,Age,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
count,583.000000,583.000000,583.000000,583.000000,583.000000,583.000000,583.000000,583.000000,579.000000,583.000000
mean,44.746141,3.298799,1.486106,290.576329,80.713551,109.910806,6.483190,3.141852,0.947064,1.286449
std,16.189833,6.209522,2.808498,242.937989,182.620356,288.918529,1.085451,0.795519,0.319592,0.452490
min,4.000000,0.400000,0.100000,63.000000,10.000000,10.000000,2.700000,0.900000,0.300000,1.000000
25%,33.000000,0.800000,0.200000,175.500000,23.000000,25.000000,5.800000,2.600000,0.700000,1.000000
50%,45.000000,1.000000,0.300000,208.000000,35.000000,42.000000,6.600000,3.100000,0.930000,1.000000
75%,58.000000,2.600000,1.300000,298.000000,60.500000,87.000000,7.200000,3.800000,1.100000,2.000000
max,90.000000,75.000000,19.700000,2110.000000,2000.000000,4929.000000,9.600000,5.500000,2.800000,2.000000

In [358]:
Liver_df.isnull().sum()

Age                           0
Gender                        0
Total_Bilirubin               0
Direct_Bilirubin              0
Alkaline_Phosphotase          0
Alamine_Aminotransferase      0
Aspartate_Aminotransferase    0
Total_Protiens                0
Albumin                       0
Albumin_and_Globulin_Ratio    4
Dataset                       0
dtype: int64

In [359]:
print("Mean => ",Liver_df['Albumin_and_Globulin_Ratio'].mean(),
"Median => ",Liver_df['Albumin_and_Globulin_Ratio'].median())

Mean =>  0.9470639032815197 Median =>  0.93

In [360]:
Liver_df.Albumin_and_Globulin_Ratio = Liver_df.Albumin_and_Globulin_Ratio.fillna(Liver_df['Albumin_and_Globulin_Ratio'].median())
Liver_df['Albumin_and_Globulin_Ratio'].isnull().sum()

0

In [361]:
from sklearn.preprocessing import LabelEncoder
e = LabelEncoder()
Liver_df['Gender']=e.fit_transform(Liver_df['Gender'])
Liver_df.head(10)

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
0,65,0,0.7,0.1,187,16,18,6.8,3.3,0.90,1
1,62,1,10.9,5.5,699,64,100,7.5,3.2,0.74,1
2,62,1,7.3,4.1,490,60,68,7.0,3.3,0.89,1
3,58,1,1.0,0.4,182,14,20,6.8,3.4,1.00,1
4,72,1,3.9,2.0,195,27,59,7.3,2.4,0.40,1
5,46,1,1.8,0.7,208,19,14,7.6,4.4,1.30,1
6,26,0,0.9,0.2,154,16,12,7.0,3.5,1.00,1
7,29,0,0.9,0.3,202,14,11,6.7,3.6,1.10,1
8,17,1,0.9,0.3,202,22,19,7.4,4.1,1.20,2
9,55,1,0.7,0.2,290,53,58,6.8,3.4,1.00,1

In [362]:
corr_matrix = Liver_df.corr()
corr_matrix['Dataset']*100

Age                           -13.735063
Gender                         -8.241591
Total_Bilirubin               -22.020756
Direct_Bilirubin              -24.604634
Alkaline_Phosphotase          -18.486561
Alamine_Aminotransferase      -16.341616
Aspartate_Aminotransferase    -15.193375
Total_Protiens                  3.500824
Albumin                        16.138782
Albumin_and_Globulin_Ratio     16.214376
Dataset                       100.000000
Name: Dataset, dtype: float64

In [363]:
# plt.figure(figsize=(20,7))
# plt.title('Correlation Matrix')
# sns.heatmap(corr_matrix, annot=True, cmap=plt.cm.CMRmap_r)

In [364]:
X = Liver_df.drop(['Dataset','Total_Protiens'], axis=1)
y = Liver_df['Dataset']
print(X.shape,y.shape)
print(X.ndim,y.ndim)

(583, 9) (583,)
2 1

In [365]:
columns = X.columns

In [366]:
def checknull( columns):
    result = -1
    for clms in columns:
        if(X[clms].isna().sum() == 0):
            result = 0
        else:
            result = 1
    return result
checknull(columns)

0

In [367]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2)
print(X_train.shape,X_test.shape)
X_train.shape[0]+X_test.shape[0]

(466, 9) (117, 9)

583

In [368]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(X_train,y_train)

GaussianNB()

In [369]:
model.score(X_test,y_test)*100

64.1025641025641

In [370]:
X_test[:10]

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Albumin,Albumin_and_Globulin_Ratio
257,44,1,0.8,0.2,335,148,86,3.0,1.1
45,35,1,1.8,0.6,275,48,178,3.2,0.9
428,52,0,0.6,0.1,194,10,12,3.3,0.9
418,50,1,4.2,2.3,450,69,50,3.0,0.7
562,66,1,17.3,8.5,388,173,367,2.6,0.5
75,29,0,0.7,0.1,162,52,41,2.5,0.9
480,7,1,0.5,0.1,352,28,51,4.2,1.1
23,40,1,1.9,1.0,231,16,55,1.6,0.6
93,60,1,5.8,2.7,204,220,400,3.0,0.7
488,60,1,0.7,0.2,171,31,26,3.5,1.0

In [371]:
y_test[:10]

257    1
45     2
428    2
418    1
562    1
75     2
480    2
23     1
93     1
488    2
Name: Dataset, dtype: int64

In [372]:
model.predict(X_test[:10])

array([1, 2, 2, 1, 1, 2, 2, 2, 1, 2], dtype=int64)